@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin:regular,600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

address {
  font-style: normal;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Прибираємо стандартний маркер Chrome */
details > summary::-webkit-details-marker {
  display: none;
}

/* Прибираємо стандартний маркер Firefox */
details > summary {
  list-style: none;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Light.woff2") format("woff2"), url("../fonts/Causten-Light.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format("woff2"), url("../fonts/Causten-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-SemiBold.woff2") format("woff2"), url("../fonts/Causten-SemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format("woff2"), url("../fonts/Causten-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"), url("../fonts/CoreSansC-65Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-75ExtraBold.woff2") format("woff2"), url("../fonts/CoreSansC-75ExtraBold.woff") format("woff");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}
.open-modal, .tabs__button {
  background-color: rgb(192, 189, 189);
  padding: 0.625rem 1.25rem;
  text-align: center;
  border-radius: 0.625rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.open-modal:not(:last-child), .tabs__button:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (any-hover: hover) {
  .open-modal:hover, .tabs__button:hover {
    background-color: rgb(153, 150, 150);
  }
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  scale: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.show-modal .modal {
  opacity: 1;
  visibility: visible;
  scale: 1;
}
.modal__content {
  max-width: 50rem;
  margin: 0 auto;
  background-color: rgb(192, 189, 189);
  padding: 1.25rem;
  border-radius: 1.25rem;
}
.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}
.modal__header:not(:last-child) {
  margin-bottom: 1.25rem;
}
.modal__title {
  font-size: 1.25rem;
}
.modal__close-button {
  background-color: rgb(170, 2, 2);
  color: rgb(204, 204, 204);
  padding: 0.625rem;
  text-align: center;
  border-radius: 0.3125rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .modal__close-button:hover {
    background-color: rgb(116, 3, 3);
  }
}
.modal__body:not(:last-child) {
  margin-bottom: 1.25rem;
}
.modal__text:not(:last-child) {
  margin-bottom: 1.25rem;
}
.modal__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.modal__link:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (any-hover: hover) {
  .modal__link:hover {
    text-decoration: underline;
  }
}

.tabs {
  font-size: 1.25rem;
}
.tabs__button--active {
  border: 0.0625rem solid rgb(0, 0, 0);
}
.tabs__content {
  border: 0.0625rem solid rgb(0, 0, 0);
  padding: 1.25rem;
  display: none;
}
.tabs__content--active {
  display: block;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  position: relative;
}
.wrapper::after {
  opacity: 0;
  visibility: hidden;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(190, 4, 4, 0.185);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.show-modal .wrapper::after {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 12.125rem;
}

[class*=__container] {
  max-width: 78.125rem;
  padding-inline: 0.9375rem;
  margin: 0 auto;
}

body {
  background-color: gray;
}
.show-modal body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}